nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.library-nav-btn {
  border: none;
  cursor: pointer;
  padding: 2rem 0 1rem;
  transition: all 0.3s ease;
  z-index: 10;
}

.brand-name {
  font-family: "Press Start 2P", cursive;
  font-size: larger;

  &:hover {
    color: teal;
    transform: translate(15px, -15px);
    transition: all 1s ease;
  }
}
